<body>
  <h1>Prepare to RoboMix</h1>

  <h3>
    CAUTION: ADVANCED EXPERIMENTAL MIXOLOGY AHEAD
  </h3>

  <p>
    <b>RoboMixer</b>'s propietary software will soon give you a procedurally-generated cocktail guaranteed to astound the mind and delight the senses.
  </p>

  <p>
    Click the button below for one <b>RoboMixed</b> cocktail:
  </p>
  <form action="/generator/output">
  <button class="btn btn-secondary">ROBOMIX</button>
</body>