<body>
  <h1>Prepare to <b id="brand">RoboMix</b></h1>

  <h3>
    CAUTION: ADVANCED EXPERIMENTAL MIXOLOGY AHEAD
  </h3>

  <p>
    <b id="brand">RoboMixer</b>'s propietary software will soon give you a procedurally-generated cocktail guaranteed to astound the mind and delight the senses.
  </p>

  <p>
    Click the button below for one <b id="brand">RoboMixed</b> cocktail:
  </p>
  <form action="/generator/output">
  <button class="btn btn-secondary" id="brand">ROBOMIX</button>
</body>