<body>
  <h1>RoboMixer 0.1</h1>

  <h3>Welcome to RoboMixer!</h3>

  <p>
    Do you love to make cocktails, but are tired of the same-old, same-old? Do you want to explore new, potentially never-created-before mixed drinks?
  </p>

  <p>
    If so, <b>RoboMixer</b> is here for you! Our proprietary software is capable of generating over 2,000 unique and eye-opening combinations that are sure to impress even the most jaded mixologist.
  </p>

  <p>
    For those new to mixology who want to try their hand at more "traditional" cocktails, click <a href="/cocktails">here</a>.
  </p>
  <!--
  <p>
    If you'd like <b>RoboMixer</b> to generate a cocktail based on the ingredients you have on hand, click <a href="/">here</a>.
  </p>
  -->
  <p>
    If you want to unleash the full power of <b>RoboMixer</b> and are willing to acquire the necessary ingredients to build its unique creations, click <a href="/generator">here</a>. (Recommended)
  </p>

  <p>
    We recommend you <a href="/user_sign_up">create an account</a> so that you can save and rate the cocktails <b>RoboMixer</b> generates.
  </p>

  <hr>

  <small>We cannot guarantee the quality of <b>RoboMixer</b> creations. Drink at your own risk. Please drink responsibly.</small>
</body>