/* body CSS */

/* Alternate mono font
  body {
    font-family: 'IBM Plex Mono' monospace;
  }
*/

.body {
  font-family: 'IBM Plex Sans', sans-serif;
}

#brand {
  font-family: 'IBM Plex Mono', monospace;
}
